/* Styling the navbar */
.navbar {
    display: inline;
    background-color: #333; /* Change the background color as needed */
    padding: 10px;
}

/* Changing font to Roboto */
body {
    font-family: 'Roboto', sans-serif;
}

/* Adding creative styles */
.creative {
    color: #e74c3c; /* Red color */
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #3498db; /* Blue border */
    padding-bottom: 5px;
}




